﻿@page "/Governing"

<!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-center padding-xl text-light" style="background-image: url(assets/img/about/1286.jpg);background-size: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="Slide-Title" style="font-weight: 100;">រចនាសម្ព័ន្ធ</h1>
                    <ul class="breadcrumb">
                        <li class="font-khmer" style="font-size: 12pt;">អំពី​ ប.ស.ស</li>
                        <li class="active font-khmer" style="font-size: 12pt;">រចនាសម្ព័ន្ធ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <div id="about" class="about-area reverse default-padding">
        <div class="container" style="padding: 50px;">
            <div class="row align-center">
                <div class="col-lg-12">
                    <div class="content">
                        <h3 style="font-family: 'Khmer OS Siemreap';">រចនាសម្ព័ន្ធ</h3>
                        <p style="font-family: 'Khmer OS Siemreap';text-indent: 40px">
                            ប.ស.ស ត្រូវបាន​ដឹកនាំ និង​គ្រប់គ្រង​ដោយ​ក្រុម​ប្រឹក្សា​ភិបាល ដែល​មាន​អំណាច​ដើម្បី​គ្រប់គ្រង​គ្រឹះ​ស្ថាន​ក្នុង​ក្រប​ខ័ណ្ឌ​នៃបទប្បញ្ញត្តិ​នៃ​អនុក្រឹត្យនេះ និង​ក្នុង​ក្របខ័ណ្ឌ​នៃបទបញ្ជាផ្ទៃ​ក្នុង​របស់​ប.ស.ស។ ក្រុម​​ប្រឹក្សាភិបាល​​នេះមាន​​សមាសភាព​​ដូច​ខាងក្រោម៖
                        </p>
                        <table class="table table-bordered">
                           
                            <tbody>
                                <tr>
                                    <td>តំណាងក្រសួងការងារ និងបណ្តុះបណ្តាលវិជ្ជាជីវៈ</td>
                                    <td>ប្រធាន</td>
                                </tr> 
                                <tr>
                                    <td>តំណាងទីស្តីការគណៈរដ្ឋមន្ត្រី ១​ (មួយ) រូប</td>
                                    <td>សមាជិក</td>
                                </tr>
                                <tr>
                                    <td>តំណាងក្រសួងសេដ្ឋកិច្ច និងហិរញ្ញវត្ថុ ១​ (មួយ) រូប</td>
                                    <td>សមាជិក</td>
                                </tr>
                                <tr>
                                    <td>តំណាងក្រសួងសុខាភិបាល ១​ (មួយ) រូប</td>
                                    <td>សមាជិក</td>
                                </tr>
                                <tr>
                                    <td>តំណាងនិយោជក ២ (ពីរ) រូប</td>
                                    <td>សមាជិក</td>
                                </tr>
                                <tr>
                                    <td>តំណាងកម្មករនិយោជិត ២ (ពីរ) រូប</td>
                                    <td>សមាជិក</td>
                                </tr>
                                <tr>
                                    <td>នាយកនៃ ប.ស.ស</td>
                                    <td>សមាជិកស្វ័យប្រវត្តិ</td>
                                </tr>
                            </tbody>
                        </table>


                        <p style="font-family: 'Khmer OS Siemreap';text-indent: 40px">
                            ប្រធាន និង​សមាជិក​ក្រុម​ប្រឹក្សា​ភិបាល​នៃ ប.ស.ស ត្រូវជ្រើសរើស​ក្នុង​ចំណោម​មន្រ្តី និង​អ្នក​ដែល​សកម្មការងារ ធ្លាប់បម្រើ​ការងារ​យ៉ាងតិច ៥ (ប្រាំ) ឆ្នាំ ក្នុង​ចំណោម​ឥស្សរ​ជនខ្មែរ​ដែល​មាន​បទពិសោធន៍​ការងារ​គ្រប់គ្រាន់ ព្រម​ទាំង​មានសមត្ថភាព ក្នុង​វិស័យ​សង្គមកិច្ច ឬ សេដ្ឋកិច្ច ឬនីតិសាស្រ្ត និងមិនដែល​ត្រូវ​បាន​ផ្តន្ទាទោស​ពី​បទមជ្ឈិម ឬ បទឧក្រិដ្ឋ។
                        </p>
                            
                        <p style="font-family: 'Khmer OS Siemreap';text-indent: 40px">
                            តំណាង​និយោជក និង​កម្មករ​និយោជិត ត្រូវបាន​ជ្រើសរើស​ដោយ​អង្គការ​វិជ្ជាជីវៈរៀងៗ​ខ្លួន។ តំណាង​ទាំងនេះ​ត្រូវមាន​បទពិសោធន៍​ការងារ​គ្រប់គ្រាន់ ព្រម​ទាំង​មាន​សមត្ថភាព ក្នុង​វិស័យ​សង្គមកិច្ច ឬ សេដ្ឋកិច្ច ឬ នីតិសាស្រ្ត និង មិន​ដែល​ត្រូវបាន​ផ្តន្ទាទោស​ពីបទ​បមជ្ឈិម ឬ ឧក្រិដ្ឋ។
                        </p>
                        
                        <p style="font-family: 'Khmer OS Siemreap';text-indent: 40px">
                            ប្រធាន និង​សមាជិក​ក្រុម​ប្រឹក្សា​ភិបាល​នៃ ប.ស.ស ដែលមិនមែន​ជា​សមាជិក​ស្វ័យប្រវត្តិ ត្រូវ​តែង​តាំង​ដោយ​អនុក្រឹត្យ​សម្រាប់​អាណត្តិទី៤ រៀប​ចំ​ដោយ​ក្រសួង​ការងារ និង​បណ្តុះ​បណ្តាល​វិជ្ជាជីវៈ តាមសំណើ​របស់ក្រសួង ស្ថាប័ន ឬ អង្គការវិជ្ជាជីវៈ ដែល​សមាជិក​នោះ​តំណាង​ឲ្យ។ អាណត្តិនេះអាច​បញ្ចប់ ឬ អាច​បន្ត​ទៀត​បាន​តាម​សំណើ​របស់ ក្រសួង ស្ថាប័ន ឬ អង្គការ​វិជ្ជាជីវៈ ដែលសមាជិក​នោះ​តំណាងឲ្យ។
                        </p>
                        

                        <table class="table table-bordered">
                           
                            <tbody>
                                <tr>
                                    <td colspan="3">ក្រុមប្រឹក្សាភិបាលរបស់ប.ស.ស អាណត្តិទី៤</td>
                                </tr> 
                                <tr>
                                    <td>ឯកឧត្តម សេង សក្តា</td>
                                    <td>ប្រធាន</td>
                                    <td>តំណាងក្រសួងការងារ និងបណ្តុះបណ្តាលវិជ្ជាជីវៈ</td>
                                </tr>
                                <tr>
                                    <td>ឯកឧត្តម អ៊ឹម ស៊ីថុល</td>
                                    <td>សមាជិក</td>
                                    <td>ទីស្តីការគណៈរដ្ឋមន្ត្រី</td>
                                </tr>
                                <tr>
                                    <td>ឯកឧត្តម នង ពិសិដ្ធ</td>
                                    <td>សមាជិក</td>
                                    <td>តំណាងក្រសួងសេដ្ឋកិច្ច និងហិរញ្ញវត្ថុ</td>
                                </tr>
                                <tr>
                                    <td>ឯកឧត្តម អ៊ុក សមវិទ្យា</td>
                                    <td>សមាជិកស្វ័យប្រវត្តិ</td>
                                    <td>តំណាងប.ស.ស</td>
                                </tr>
                                <tr>
                                    <td>លោកវេជ្ជ. ឡូ វាសនាគីរី</td>
                                    <td>សមាជិក</td>
                                    <td>តំណាងក្រសួងសុខាភិបាល</td>
                                </tr>
                                <tr>
                                    <td>ឯកឧត្តមឧកញ៉ាបណ្ឌិត ណាង សុធី</td>
                                    <td>សមាជិក</td>
                                    <td>តំណាងនិយោជក</td>
                                </tr>
                                 <tr>
                                    <td>ឧកញ៉ា វ៉ាន់ ស៊ូអៀង</td>
                                    <td>សមាជិក</td>
                                    <td>តំណាងនិយោជក</td>
                                </tr>
                                 <tr>
                                    <td>លោក អាត់ ធន់</td>
                                    <td>សមាជិក</td>
                                    <td>សម្ព័ន្ធសហជីពប្រជាធិបតេយ្យកម្មករកាត់ដេរកម្ពុជា</td>
                                </tr>
                                 <tr>
                                    <td>ឯកឧត្តម ហេង ប៊ុនឈុន</td>
                                    <td>សមាជិក</td>
                                    <td>សហព័ន្ធសហជីពឧស្សាហកម្មម្ហូបអាហារកម្ពុជា</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
