﻿ @page "/history"





    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-center padding-xl text-light" style="background-image: url(assets/img/about/1286.jpg);background-size: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="Slide-Title" style="font-weight: 100;">ប្រវត្តិសង្ខេប</h1>
                    <ul class="breadcrumb">
                        <li class="font-khmer" style="font-size: 12pt;">អំពី​ ប.ស.ស</li>
                        <li class="active font-khmer" style="font-size: 12pt;">ប្រវត្តិសង្ខេប</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->


    <!-- Start About 
    ============================================= -->
    <div id="about" class="about-area reverse bg-gray default-padding">
        <div class="container">
            <div class="row align-center">
               @* <div class="col-lg-6 thumb">
                    <img src="assets/img/about/3.jpg" alt="Thumb">
                </div>*@
                <div class="col-lg-12">
                    <div class="content">
                        <h3 style="font-family: 'Khmer OS Siemreap';">ប្រវត្តិសង្ខេប</h3>
                        <p style="text-indent: 40px;">
                            សន្តិសុខសង្គមត្រូវបានបង្កើតឡើងក្នុងប្រទេសកម្ពុជានៅឆ្នាំ១៩៥៥ យោងតាមព្រះរាជក្រឹត្យលេខ៥៥ និង៣០៦។ តែគួរឲ្យសោកស្តាយកំឡុងពេលរបប ប្រល័យ ពូជសាសន៍ (១៩៧៥-១៩៧៩) សន្តិសុខសង្គមនេះត្រូវបានបំផ្លាញចោលទាំងស្រុង។ ពីឆ្នាំ១៩៧៩-១៩៩៣ ប្រជាជនបានទទួលសេវាថែទាំសុខភាពដោយ ឥតគិតថ្លៃ។ បន្ទាប់ពីការបោះឆ្នោតឆ្នាំ១៩៩៣ នាយកដ្ឋានសន្តិសុខសង្គមត្រូវបានបង្កើតឡើង។ នាយកដ្ឋាននេះទទួលខុសត្រូវការរៀបចំទាំងអស់នៃប្រកាសសម្រាប់ ការអនុវត្តកិច្ចគាំពារសន្តិសុខសង្គមដល់ប្រជាជន ដែលធ្វើការក្នុងវិស័យឯកជន។ ជាលទ្ធផល ការកែប្រែបទប្បញ្ញត្តិស្តីពីច្បាប់ការងារឆ្នាំ១៩៩២ដែលជាច្បាប់ការងារ កម្ពុជា បច្ចុប្បន្នដែលអនុម័តក្នុងឆ្នាំ១៩៩៧ ត្រូវបានអនុវត្តដោយនាយកដ្ឋានការងារ (ថ្មីៗនេះប្តូរទៅជាអគ្គនាយកដ្ឋានការងារ)។ បន្ទាប់ពីនោះមក ច្បាប់សន្តិសុខសង្គម ត្រូវបានអនុម័តដោយសភានៅខែកញ្ញា ឆ្នាំ២០០២ ដែលថ្មីៗត្រូវបានគេស្គាល់ថា ច្បាប់របបសន្តិសុខសង្គមសម្រាប់ជនទាំងឡាយដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃ ច្បាប់ស្តីពីការងារ។ អនុក្រឹត្យស្តីពីការបង្កើតបេឡាជាតិរបបសន្តិសុខសង្គមត្រូវបានអនុម័ត នៅឆ្នាំ២០០៧ ដែលបង្កើតឡើងដើម្បីជំនួសនាយកដ្ឋានសន្តិសុខសង្គម។ ប.ស.សត្រូវបានបង្កើតឡើងដើម្បីគ្រប់គ្រងផ្នែកកិច្ចគាំពារ សន្តិសុខសង្គមឱ្យស្របទៅតាមច្បាប់សន្តិសុខសង្គមជាតិ និងបទប្បញ្ញត្តិសន្តិសុខសង្គមអនុលោមតាម អនុក្រឹត្យ។ ក្រោយពីការរៀបចំដ៏ធំទូលាយនេះ ប.ស.ស ត្រូវបានដំណើរការនៅចុងឆ្នាំ២០០៨ ។
                            </p>
                            <p style="text-indent: 40px;">
                               អនុលោមតាមច្បាប់ ផែនការយុទ្ធសាស្រ្តរបស់រាជរដ្ឋាភិបាល ស្ថានភាពរីកចំរើននៃសេដ្ឋកិច្ចជាតិ និងការធ្វើសមាហរណកម្មក្នុងតំបន់ បេឡាជាតិរបបសន្តិសុខ សង្គម បាននិងកំពុងត្រៀមខ្លួនតាមរយៈការរៀបចំពង្រីក ពង្រឹង និងអភិវឌ្ឍសមត្ថភាពរបស់ខ្លួនបន្ថែមទៀត ដោយបានរៀបចំនូវផែនការយុទ្ធសាស្រ្តរយៈពេលប្រាំឆ្នាំ នេះឡើង ដែលមានចក្ខុវិស័យ និងបេសកកម្មដ៏ច្បាស់លាស់  ក្នុងការអនុវត្តផ្នែកសន្តិសុខសង្គម ប្រកបដោយប្រសិទ្ធភាព តម្លាភាព គណនេយ្យភាព និងទាន់ពេលវេលា សម្រាប់ជនទាំងឡាយដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃច្បាប់ស្តីពីការងារ ឱ្យទទួលបាននូវសេវាសន្តិសុខសង្គម នៅពេលដែលពួកគាត់ជួបប្រទះនូវយថាភាពផ្សេងៗ មានជាអាទិ៍ ជរាភាព ទុព្វលភាព មរណភាព ហានិភ័យការងារ ឬពេលជួបប្រទះយថាភាពផ្សេងៗទៀតដូចជាជំងឺ និងមាតុភាពជាដើម។
                            </p>
                            <p style="text-indent: 40px;">ក្នុងស្ថានភាពដែលប្រទេសកម្ពុជាមានការរីកចំរើនលើគ្រប់វិស័យ ការធានាផ្នែកសន្តិសុខសង្គម មានសារៈសំខាន់ខ្លាំងណាស់ ដោយបានផ្តល់នូវការគាំពារចំពោះ ប្រជាជនកម្ពុជានិយាយជារួម និង និយាយដោយឡែកសម្រាប់កម្មករនិយោជិត ដែលបម្រើការងារនៅតាមសហគ្រាស គ្រឹះស្ថាន ដោយផ្អែកលើទស្សនាទាននៃការចែក រំលែក និងគោលការណ៍សាមគ្គីធម៌ក្នុងសង្គម ធានាបាននូវសន្តិសុខ ប្រាក់ចំណូល ពោលគឺមានន័យថា តាមរយៈការធានាផ្នែកសន្តិសុខសង្គម គ្មានសមាជិកសង្គមណា ម្នាក់ធ្លាក់ទៅក្នុងហានិភ័យនៃភាពក្រីក្រ ដោយមិនអាចងើបរួចបានឡើយ។ ម្យ៉ាងទៀតគោលនយោបាយសន្តិសុខសង្គម ក៏រួមចំណែកយ៉ាងសំខាន់ដល់គោល នយោបាយកាត់បន្ថយភាពក្រីក្ររបស់រាជរដ្ឋាភិបាលកម្ពុជា តាមរយៈគោលការណ៍នៃការចែករំលែកប្រាក់ចំណូល តាមខ្សែទទឹង និងខ្សែបណ្តោយ គឺមានន័យថា អ្នកមានប្រាក់ចំណូលខ្ពស់ជួយដល់អ្នកមានប្រាក់ចំណូលទាប អ្នកមានសុខភាពល្អ ជួយដល់អ្នកមានជំងឺ ជនពិការ ឬ អ្នកដែលទទួលរងនូវគ្រោះថ្នាក់ផ្សេងៗ ជនមានវ័យក្មេងជួយដល់ជនចាស់ជរា ដែលការនេះធ្វើឲ្យមនុស្សក្នុងសង្គមទាំងមូល ទទួលបាននូវភាពកក់ក្តៅក្នុងជីវភាពរស់នៅ ធានារក្សាបានស្ថិរភាព និងភាពសុខដុមរមនានៅក្នុងសង្គម។</p>
                            <p>ដើម្បីលើកកម្ពស់សុខុមាលភាពសង្គម ដោយការធានាឱ្យបាននូវសន្ដិសុខបា្រក់ចំណូលរួម ចំណែកកាត់បន្ថយភាពក្រីក្រ លើកកម្ពស់ស្ថិរភាពសង្គម ប.ស.ស បានអនុវត្តរបបសន្តិសុខសង្គម សម្រាប់ជនទាំងឡាយដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃច្បាប់ស្តីពីការងាររួមមាន៖ ផ្នែកហានិភ័យការងារ, ផ្នែកថែទាំសុខភាព និងផ្នែកប្រាក់សោធនគ្រោងអនុវត្តនៅពេលឆាប់ៗខាងមុខនេះ។ ឈរលើការអនុវត្តរបបសន្តិសុខសង្គមផ្នែកហានិភ័យការងារ និងផ្នែកថែទាំសុខភាពប្រកបដោយ ជោគជ័យ និងធានាឱ្យមានភាពសង្គតិភាពក្នុងការគាំពារសង្គមទាំងវិស័យឯកជន និងមន្ត្រីរាជការ ក្នុងវិស័យសាធារណៈ រាជរដ្ឋាភិបាលបានប្រគល់ភារកិច្ចឱ្យប.ស.ស ជាអ្នករៀបចំ និងគ្រប់គ្រងការដាក់ឱ្យដំណើរការរបបសន្ដិសុខសង្គមផ្នែកហានិភ័យការងារ សម្រាប់មន្រ្តីសាធារណៈ និងផ្នែកថែទាំសុខភាពសម្រាប់មន្ត្រីសាធារណៈ អតីតមន្រ្តីរាជការ និងអតីតយុទ្ធជនចាប់ពី ឆ្នាំ២០១៧តទៅ។</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start How it Work
    ============================================= -->
<div class="our-mission default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                     <p style="font-family: 'Khmer OS Siemreap';text-indent: 40px;">
                         បេឡាជាតិរបបសន្តិសុខសង្គម (ប.ស.ស) គឺជាគ្រឹះស្ថានសាធារណៈរដ្ឋបាល និង ជានិតិបុគ្គលសាធារណៈ មានស្វ័យភាពផ្នែកហិរញ្ញវត្ថុ ដែលមានបេសកកម្ម បម្រើសេវាផ្នែកសាធារណៈរដ្ឋបាលមានលក្ខណៈសង្គមស្ថិតនៅក្រោមអាណាព្យាបាលបច្ចេកទេសនៃក្រសួងការងារ និង បណ្តុះបណ្តាលវិជ្ជាជីវៈ និង អាណាព្យាបាល ហិរញ្ញវត្ថុនៃក្រសួងសេដ្ឋកិច្ច និង ហិរញ្ញវត្ថុ ។
                     </p>
                     <a data-animation="animated fadeInDown" class="btn btn-dark  effect btn-sm font-khmer" href="/structure" style="padding: 6px 15px;">រចនាសម្ព័ន្ធ</a>
                </div>
                <div class="col-lg-6 thumb">
                    <img src="assets/img/about/NSSF_Stracture.jpg" alt="Thumb">
                </div>
            </div>
        </div>
    </div>
    <!-- End How it Work -->

    <!-- Start Our Story
    ============================================= -->
   