﻿@page "/Structure"

<!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-center padding-xl text-light" style="background-image: url(assets/img/about/1286.jpg);background-size: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="Slide-Title" style="font-weight: 100;">រចនាសម្ព័ន្ធ</h1>
                    <ul class="breadcrumb">
                        <li class="font-khmer" style="font-size: 12pt;">អំពី​ ប.ស.ស</li>
                        <li class="active font-khmer" style="font-size: 12pt;">រចនាសម្ព័ន្ធ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <div id="about" class="about-area reverse default-padding">
        <div class="container-fluid" style="padding: 50px;">
            <div class="row align-center">
                <div class="col-lg-6 thumb">
                    <img src="assets/img/about/NSSF_Stracture.jpg" alt="Thumb">
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h3 style="font-family: 'Khmer OS Siemreap';">រចនាសម្ព័ន្ធ</h3>
                        <p style="font-family: 'Khmer OS Siemreap';text-indent: 40px">
                            បេឡាជាតិរបបសន្តិសុខសង្គម (ប.ស.ស) គឺជាគ្រឹះស្ថានសាធារណៈរដ្ឋបាល និង ជានិតិបុគ្គលសាធារណៈ មានស្វ័យភាពផ្នែកហិរញ្ញវត្ថុ ដែលមានបេសកកម្ម បម្រើសេវាផ្នែកសាធារណៈរដ្ឋបាលមានលក្ខណៈសង្គមស្ថិតនៅក្រោមអាណាព្យាបាលបច្ចេកទេសនៃក្រសួងការងារ និង បណ្តុះបណ្តាលវិជ្ជាជីវៈ និង អាណាព្យាបាល ហិរញ្ញវត្ថុនៃក្រសួងសេដ្ឋកិច្ច និង ហិរញ្ញវត្ថុ ។
                        </p>
                        <p style="font-family: 'Khmer OS Siemreap';text-indent: 40px">
                            ប.ស.ស ដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃអនុក្រឹតលេខ ១៦ អនក្រ-បក ចុះថ្ងៃទី ០២ ខែ មីនា ឆ្នាំ ២០០៧ ស្តីពីការបង្កើត ប.ស.ស ក៏ស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃ ច្បាប់ស្តីពីរបបសន្តិសុខសង្គមសម្រាប់ជនទាំងឡាយដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃច្បាប់ស្តីពីការងារ ។
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>