﻿
a h2.Slide-Title:hover {
	text-decoration: underline;
}

.creative-item {
	background: #efefef none repeat scroll 0 0;
}

.item-fluid {
	padding: 100px;
	padding-top: 0;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
	width: auto;
}

.site-heading h2 {
	line-height: 2em;
}

.padding-xl {
	padding-top: 150px; 
}
.register-list{
	margin: 0;
	list-style-type: none;
	list-style: disc;
	padding-left: 58px;
	text-align: left;
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
}

.pricing-header h4 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12pt !important;
}

footer {
	background: #0c3260 !important;
}

.table-bordered {
	border: 1px solid #dee2e6;
	font-family: 'Khmer OS Siemreap';
	font-size: 12pt;
	color: black;
}

@media (max-width: 1354px) {
	nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu {
		top: 0;
		left: -100% !important;
		width: 100% !important;
	}
	nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
		 width: auto; 
	}
}

@media only screen and (max-width: 767px){
	.we-do .bg-cover {
		min-height: 250px;
		display: block;
	}
} 

@media only screen and (max-width: 767px){
.ogp-area .container-fluid .content {
	background: #002c62 none repeat scroll 0 0;
	padding: 50px 15px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.we-do .bg-cover {
		min-height: 250px;
		display: block;
	}
}
.about-area .content h2 {
	 font-weight: 100; 
	margin-bottom: 25px;
}

.goal-achive .fun-fact h4 {
	margin: 0;
	color: #3371bd;
	font-size: 13pt;
	font-weight: 100;
	font-family: khmer os siemreap;
}

.video-area h2 {
	font-weight: 100;
	font-size: 20pt;
}

.ogp-area .og-item h4 {
	color: #ffffff;
	text-transform: capitalize;
	font-size: 14pt !important;
	font-weight: 100;
}

.services-items .item i {
	color: #002fa5;
}

.services-items .item:hover i {
	color: #002fa5;
}

.ogp-area .container-fluid .og-item {
	background-color: #002c62;
	display: table-cell;
	float: none;
	vertical-align: middle;
}

.services-items .item h4 {
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-family: khmer os siemreap;
	color: #2355d5;
}

.services-items .equal-height .item {
	padding: 30px;
}
.btn-dark {
	background-color: #007bff;
	color: #ffffff;
	border: 2px solid #007bff !important;
}

p {
	font-size: 12pt;
	font-family: khmer os siemreap;
}
.top-bar-area a {
	font-size: 24px;
}

.bg-gray {
	background-color: #dfe4e7;
}

@media (max-width: 1023px) {
	nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu {
		top: 0;
		left: 0 !important;
	}
	nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
		 width: auto; 
	}
}


.font-khmer {
	font-family: 'Khmer OS Siemreap' !important;
	font-size: 10pt;
	font-weight: 100 !important;
}

.Slide-Title {
	font-size: 18pt !important;
	font-family: 'Khmer OS Battambang' !important;
	line-height: 40px !important;
	color: white;
}

.slide-content {
	font-size: 12pt !important;
	font-family: 'Khmer OS Siemreap' !important;
	line-height: 40px !important;
	color: white;
}

.bg-dark {
	background-color: #0c3260 !important;
}

nav.navbar.bootsnav ul.nav > li > a {
	font-size: 10pt;
	font-family: 'Khmer OS Siemreap';
}

footer .f-item.recent-post li a:hover {
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
}

footer .f-item .address li i {
	color: #ffffff;
	display: table-cell;
	font-size: 30px;
	vertical-align: middle;
	width: 45px;
}

.dropdown-submenu {
	position: relative;
}

	.dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}

	.dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}

footer .f-item p {
	color: #ffffff;
	font-size: 10pt;
	font-weight: 100;
}

.site-heading h2 {
	line-height: 2em;
	font-size: 14pt;
}

footer .f-item .address li span {
	color: #ffffff;
}

.site-heading p {
	line-height: 2em;
	padding: 0;
	color: black;
}

.siemreap {
	font-family: 'Khmer OS Siemreap'; 
	line-height: 2em;
}

@media only screen and (max-width: 767px){
	.container-footer{
		padding: 20px !important;
	}

	.item-fluid {
		padding: 20px;
	}
	.register-list {
		padding-left: 0px;
	}
}

footer .f-item.recent-post li a {
	color: #ffffff;
	font-size: 11pt;
	font-weight: 100;
}

footer .f-item h4 {
	color: #ffffff;
	 font-weight: 100; 
	margin-bottom: 30px;
	text-transform: uppercase;
}
	.dropdown-submenu > a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #fff;
		margin-top: 5px;
		margin-right: -10px;
	}

	.dropdown-submenu:hover > a:after {
		border-left-color: #fff;
	}

	.dropdown-submenu.pull-left {
		float: none;
	}

		.dropdown-submenu.pull-left > .dropdown-menu {
			left: -100%;
			margin-left: 10px;
			-webkit-border-radius: 6px 0 6px 6px;
			-moz-border-radius: 6px 0 6px 6px;
			border-radius: 6px 0 6px 6px;
		}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
	color: #333333;
	display: block;
	font-size: 9pt;
	margin-bottom: 0;
	padding: 10px 15px;
	text-align: left;
	text-transform: capitalize;
	width: 200px;
	font-weight: 600;
	font-family: 'Khmer OS Siemreap';
}

@media (max-width: 1023px) {
	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
		
		width: 100% !important;
	}
}
.our-mission .mission-info .nav.nav-tabs li a, .our-mission .mission-info .nav.nav-tabs li a:hover {
	background: transparent none repeat scroll 0 0;
	border-radius: inherit;
	color: #1453f5;
	font-weight: 600;
	margin-right: 15px;
	padding: 15px;
	position: relative;
	text-transform: uppercase;
	border: none;
}

	.our-mission .mission-info .nav.nav-tabs li a.active::after {
		background: #ef5800 none repeat scroll 0 0;
		bottom: -2px;
		content: "";
		height: 3px;
		left: 0;
		position: absolute;
		width: 100%;
	}
.s_mail {
	/*text-align: center;*/
	font-size: 10pt;
	/*font-weight: 100;*/
	/*background: #d81616;*/
}