  /*
    Flaticon icon font: Flaticon
    Creation date: 08/09/2018 00:19
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-advertisement:before { content: "\f100"; }
.flaticon-advertising:before { content: "\f101"; }
.flaticon-implement:before { content: "\f102"; }
.flaticon-action-plan:before { content: "\f103"; }
.flaticon-development:before { content: "\f104"; }
.flaticon-growth:before { content: "\f105"; }
.flaticon-optimization:before { content: "\f106"; }
.flaticon-creativity:before { content: "\f107"; }
.flaticon-design-thinking:before { content: "\f108"; }
.flaticon-think:before { content: "\f109"; }
.flaticon-promotion:before { content: "\f10a"; }
.flaticon-digital-marketing:before { content: "\f10b"; }
.flaticon-digital-marketing-1:before { content: "\f10c"; }
.flaticon-research:before { content: "\f10d"; }
.flaticon-research-1:before { content: "\f10e"; }
.flaticon-research-2:before { content: "\f10f"; }
.flaticon-analysis:before { content: "\f110"; }
.flaticon-laboratory:before { content: "\f111"; }
.flaticon-handshake:before { content: "\f112"; }
.flaticon-international-business:before { content: "\f113"; }
.flaticon-dashboard:before { content: "\f114"; }
.flaticon-money:before { content: "\f115"; }
.flaticon-heartbeat:before { content: "\f116"; }
.flaticon-first-aid-kit:before { content: "\f117"; }
.flaticon-medical-insurance:before { content: "\f118"; }
.flaticon-web-programming:before { content: "\f119"; }
.flaticon-coding:before { content: "\f11a"; }
.flaticon-person:before { content: "\f11b"; }
.flaticon-smiling-girl:before { content: "\f11c"; }
.flaticon-smiling-emoticon-square-face:before { content: "\f11d"; }
.flaticon-clock:before { content: "\f11e"; }
.flaticon-speed:before { content: "\f11f"; }
.flaticon-clock-1:before { content: "\f120"; }
.flaticon-tea-cup:before { content: "\f121"; }
.flaticon-coffee-cup:before { content: "\f122"; }
.flaticon-coffee-cup-1:before { content: "\f123"; }
.flaticon-location:before { content: "\f124"; }
.flaticon-location-1:before { content: "\f125"; }
.flaticon-email:before { content: "\f126"; }
.flaticon-mail:before { content: "\f127"; }
.flaticon-call:before { content: "\f128"; }
.flaticon-telephone:before { content: "\f129"; }