﻿@page "/health"

<!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-center padding-xl text-light" style="background-image: url(assets/img/about/1286.jpg);background-size: 100%;">
        <div class="container-fluid item-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="Slide-Title" style="font-weight: 100;">ផ្នែកថែទាំសុខភាព</h1>
                    <ul class="breadcrumb">
                        <li class="font-khmer" style="font-size: 12pt;">ផ្នែករបប</li>
                        <li class="active font-khmer" style="font-size: 12pt;">ផ្នែកថែទាំសុខភាព</li>
                        @*<li class="active font-khmer" style="font-size: 12pt;">ការ</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Width Team Members
    ============================================= -->
    <div class="team-gread-area bg-gray default-padding bottom-less">
        <div class="container-fluid item-fluid">
            <div class="row">
                <div class="site-heading">
                    <div class="col-lg-12">
                        <h3 class="siemreap">ផ្នែកថែទាំសុខភាព</h3>
                        <h4 class="siemreap">១. របបសន្តិសុខសង្គម ផ្នែកថែទាំសុខភាព</h4>
                        <p class="siemreap" style="text-indent: 40px;text-align:left;">
                            ផ្នែកថែទាំសុខភាព សំដៅដល់ការធានារ៉ាប់រងសុខភាពសង្គម ដែលត្រូវផ្តល់តាវកាលិក សេវាបង្ការសុខភាពតាវកាលិកព្យាបាលនិងថែទាំវេជ្ជសាស្រ្ត និងការផ្តល់ប្រាក់បំណាច់ប្រចាំថ្ងៃសម្រាប់
                            រយៈពេលនៃការផ្អាកការងារដោយការព្យាបាលជំងឺ ឬគ្រោះថ្នាក់ផ្សេងៗក្រៅពីហានិភ័យការងារ និងការសម្រាកមាតុភាព។
                        </p> 
                        <h4 class="siemreap">២. កាតព្វកិច្ចបង់ភាគទាន និងអត្រាភាគទាន</h4>
                        <p class="siemreap" style="text-indent: 40px;text-align:left;">
                            និយោជក និងកម្មកនិយោជិតដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃច្បាប់ស្តីពីរបបសន្តិសុខសង្គមសម្រាប់ជនទាំងឡាយដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃ ច្បាប់ស្តីពីការងារ
                            ត្រូវមានកាតព្វកិច្ចបង់ភាគទានផ្នែកថែទាំសុខភាពជូន ប.ស.ស រហូតដល់ថ្ងៃទី៣១ ខែធ្នូ ឆ្នាំ២០១៧។
                        </p>
                          <p class="siemreap" style="text-indent: 40px;text-align:left;">  កាតព្វកិច្ចនៃការបង់ភាគទានផ្នែកថែទាំសុខភាព ដូចមានចែងក្នុងវាក្យខ័ណ្ឌខាងលើ ត្រូវស្ថិតនៅក្នុងបន្ទុកទាំងស្រុងរបស់
                              និយោជក ចាប់ពីថ្ងៃទី០១ ខែមករា ឆ្នាំ២០១៨ តទៅ។
                        </p> 

                       <h4 class="siemreap">៣. តាវកាលិកថែទាំសុខភាព</h4>
                        <p class="siemreap" style="text-indent: 40px;text-align:left;">
                            <b>តាវកាលិកថែទាំសុខភាព</b> សំដៅដល់របបធានារ៉ាប់រងដែលផ្តល់កញ្ចប់តាវកាលិកសុខភាព និងសេវាបង្ការ។
                        </p>
                        <h3 class="siemreap">១.១. នីតិវិធី និងបែបបទនៃបញ្ជិកាសហគ្រាស គ្រឹះស្ថាន និងកម្មករនិយោជិត</h3>
                        
                        <p class="siemreap" style="text-indent: 40px;text-align:left;">
                           ការចុះបញ្ជិកាសហគ្រាស គ្រឹះស្ថាន ត្រូវធ្វើតាមទម្រង់ “បញ្ជិកាសហគ្រាស គ្រឹះស្ថាន” ឬហៅថាទម្រង់ “១.០១” ដែលមានចែងក្នុងឧបសម្ព័ន្ធ១ នៃប្រកាសលេខ ៤៤៨ ក.ប/ប្រ.ក.ប.ស.ស. 
                           ចុះថ្ងៃទី១០ ខែវិច្ឆិកា ឆ្នាំ២០១៧ ស្តីពីបញ្ជិកាសហគ្រាស គ្រឹះស្ថាន និងកម្មករនិយោជិតក្នុង ប.ស.ស.។ និយោជក ឬម្ចាស់សហគ្រាស គ្រឹះស្ថាន ត្រូវភ្ជាប់មកជាមួយទម្រង់ “១.០១” 
                           នូវវិញ្ញាបនបត្របញ្ជិកាពាណិជ្ជកម្ម ដែលចេញដោយក្រសួងពាណិជ្ជកម្ម ឬលិខិតតូបករណ៍គតិយុត្តសមមូលដទៃទៀត។ 
                        </p> 
                        
                        <p class="siemreap" style="text-indent: 40px;text-align:left;">
                           និយោជក ឬម្ចាស់សហគ្រាស ត្រូវមានកាតព្វកិច្ចជូនដំណឹងមក ប.ស.ស. ក្នុងរយៈពេលយ៉ាងយូរ ៣០ថ្ងៃបន្ទាប់ពីមានការព្យួរ បិទ ឬផ្អាកសកម្មភាពអាជីវកម្ម ការប្តូរនិយោជក ឬម្ចាស់សហគ្រាស
                           ឬអ្នកតំណាង អាសយដ្ឋាន ឬនាមករណ៍សហគ្រាស។
                        </p> 
                        <p class="siemreap">
                           ការចុះបញ្ជិកាកម្មករនិយោជិត ត្រូវធ្វើតាមនីតិវិធី និងបែបបទដូចខាងក្រោម៖
                        </p>

                        <ul>
                            <li class="siemreap"><b>ក. ចំពោះសហគ្រាស គ្រឹះស្ថាន ដែលបានចុះបញ្ជិកានៅ ប.ស.ស.</b></li>
                            <li>
                                <ul>
                                    <li class="siemreap">ក១. ការចុះបញ្ជិកាកម្មករនិយោជិតត្រូវធ្វើតាមទម្រង់ សលាប័ត្រព័ត៌មាន សម្រាប់ផ្តល់អត្តសញ្ញាណសមាជិក ប.ស.ស.។</li>
                                    <li class="siemreap">ក២. ប.ស.ស. នឹងផ្តល់កាលបរិច្ឆេទសម្រាប់ការចុះកំណត់អត្តសញ្ញាណសមាជិក ប.ស.ស. នៅតាមមូលដ្ឋានសហគ្រាស គ្រឹះស្ថាន។</li>
                                    <li class="siemreap">ក៣. និយោជក ឬម្ចាស់សហគ្រាសគ្រឹះស្ថានត្រូវមានកាតព្វកិច្ចបំពេញព័ត៌មានកម្មករនិយោជិតឱ្យបានត្រឹមត្រូវ នៅក្នុងសលាប័ត្រព័ត៌មាន ដោយភា្ជប់មកជាមួយនូវ អត្តសញ្ញាណប័ណ្ណសញ្ជាតិខ្មែរ ដោយឡែក ចំពោះកម្មករនិយោជិតបរទេសត្រូវមានលិខិតឆ្លងដែន។</li>
                                    <li class="siemreap">ក៤. ប.ស.ស. នឹងផ្តល់លេខអត្តសញ្ញាណ និងប័ណ្ណសមាជិក ប.ស.ស. ជូនទៅកម្មករនិយោជិតតាមរយៈនិយោជក ឬតំណាង។</li>
                                </ul>
                            </li>
                            <li class="siemreap"><b>ខ. ចំពោះសហគ្រាស គ្រឹះស្ថាន ដែលចុះបញ្ជិកាថ្មី</b></li>
                            <li>
                                <ul>
                                    <li class="siemreap">ខ១. ការចុះបញ្ជិកាកម្មករនិយោជិត ត្រូវធ្វើក្នុងពេលដំណាលគ្នា និងការចុះបញ្ជិកាសហគ្រាស គ្រឹះស្ថាន។</li>
                                    <li class="siemreap">ខ២. សហគ្រាស គ្រឹះស្ថាន ដែលមានកម្មករនិយោជិតចាប់ពី ១០០នាក់ឡើង ប.ស.ស. នឹងផ្តល់កាលបរិច្ឆេទចុះទៅកំណត់អត្តសញ្ញាណកម្មករនិយោជិត។ 
                                        និយោជកត្រូវអនុវត្តកាតព្វកិច្ចដូចមានចែងនៅក្នុងចំណុច ក៣ ខាងលើ។</li>
                                    <li class="siemreap">ខ៣. សហគ្រាស គ្រឹះស្ថាន ដែលមានកម្មករនិយោជិតក្រោម ៥០នាក់ ប.ស.ស. នឹងផ្តល់កាលបរិច្ឆេទ និងអញ្ជើញនិយោជក ឬតំណាង 
                                   និងកម្មករនិយោជិតមកកំណត់អត្តសញ្ញាណកម្មករនិយោជិតនៅ ប.ស.ស. ដោយភ្ជាប់មកជាមួយនូវឯកសារដូចមានចែងក្នុងចំណុច ក៣ ខាងលើ បន្ទាប់ពីបានបំពេញសលាប័ត្រព័ត៌មានរួច។</li>
                                    <li class="siemreap"> ខ៤. ប.ស.ស. នឹងផ្តល់លេខអត្តសញ្ញាណ និងប័ណ្ណសមាជិក ប.ស.ស. ជូនកម្មករនិយោជិតតាមរយៈនិយោជក ឬតំណាង។</li>
                                </ul>
                            </li>
                        </ul>

                        <h3 class="siemreap">១.២. អត្តសញ្ញាណសហគ្រាស គ្រឹះស្ថាន និងកម្មករនិយោជិត</h3>
                        <p class="siemreap" style="text-indent: 40px;text-align:left;">
                           ប.ស.ស. ត្រូវផ្តល់លេខអត្តសញ្ញាណសម្រាប់សហគ្រាស គ្រឹះស្ថាននីមួយៗ បន្ទាប់ពីទទួលបានទម្រង់“បញ្ជិកាសហគ្រាស គ្រឹះស្ថាន”។

ប.ស.ស. ត្រូវផ្តល់ “វិញ្ញាបនបត្របញ្ជិកាសហគ្រាស គ្រឹះស្ថាន” ជូនទៅសហគ្រាស គ្រឹះស្ថាន ដែលបានចុះបញ្ជិការួច។ និយោជក ត្រូវដាក់តាំង “ វិញ្ញាបនបត្របញ្ជិកាសហគ្រាស គ្រឹះស្ថាន ”
នៅនឹងការិយាល័យបើកប្រាក់ឈ្នួលរបស់សហគ្រាស គ្រឹះស្ថាន។

បន្ទាប់ពីទទួលបានទម្រង់បញ្ជិកាកម្មករនិយោជិត ប.ស.ស. ត្រូវផ្តល់លេខអត្តសញ្ញាណ និងចេញប័ណ្ណ សមាជិក ប.ស.ស. ជូនកម្មករនិយោជិតម្នាក់ៗដោយឥតគិតថ្លៃ។ ប័ណ្ណសមាជិក ប.ស.ស. 
ត្រូវប្រគល់ជូនទៅកម្មករនិយោជិតតាមរយៈនិយោជក ឬម្ចាស់សហគ្រាស គ្រឹះស្ថាន។

ក្នុងករណីដែល “ប័ណ្ណសមាជិក ប.ស.ស.” ខូច ឬបាត់បង់ សាមីជនដែលជាម្ចាស់ប័ណ្ណត្រូវជូនដំណឹងជាបន្ទាន់ទៅនិយោជក ឬម្ចាស់សហគ្រាស គ្រឹះស្ថាន និងត្រូវស្នើសុំទុតិយតាក្នុងរយៈពេលយ៉ាងយូរ ៣០(សាមសិប)ថ្ងៃ 
បន្ទាប់ពីកាលបរិច្ឆេទនៃការជូនដំណឹងខាងលើ។ ការផ្តល់ប័ណ្ណទុតិយតាតម្រូវឱ្យសាមីជនបង់ប្រាក់ចំនួន ២,០០០(ពីរពាន់)រៀល ជូនទៅ ប.ស.ស.។
                        </p> 

                        <h3 class="siemreap">១.៣. របាយការណ៍ចំនួនកម្មករនិយោជិត</h3>
                        <p class="siemreap" style="text-indent: 40px;text-align:left;">រៀងរាល់ខែ និយោជក ឬម្ចាស់សហគ្រាស គ្រឹះស្ថាន ត្រូវផ្តល់របាយការណ៍អំពីចំនួនកម្មករនិយោជិតទៅ ប.ស.ស. 
                            យ៉ាងយូបំផុតត្រឹមថ្ងៃទី២០ នៃខែបន្ទាប់។

របាយការណ៍អំពីចំនួនកម្មករនិយោជិត ត្រូវបញ្ជាក់អំពីចំនួនកម្មករនិយោជិតទាំងអស់ ដែលមាននៅក្នុងខែត្រូវរាយការណ៍។ របាយការណ៍អំពីចំនួនកម្មករនិយោជិត ដែលត្រូវផ្តល់ជូន ប.ស.ស. អាចតាម 
“ទម្រង់ក្រដាស” ឬ“ ទម្រង់អេឡិចត្រូនិច” ដោយមានភ្ជាប់លិខិតបញ្ជូនចុះហត្ថលេខាដោយនិយោជក ឬម្ចាស់សហគ្រាស គ្រឹះស្ថាន។

ចំពោះកម្មករនិយោជិត ដែលទើបចូលបម្រើការងារថ្មី ហើយមិនទាន់មានលេខអត្តសញ្ញាណ
ប.ស.ស. (លេខ១៥ខ្ទង់) និយោជក ឬម្ចាស់សហគ្រាស គ្រឹះស្ថាន ត្រូវមានកាតព្វកិច្ចបញ្ជូនកម្មករនិយោជិតថ្មីនេះ មកចុះបញ្ជិកានៅ ប.ស.ស. តាមទម្រង់សលាកប័ត្រព័ត៌មានយ៉ាងយូររយៈពេល ០៣(បី) ថ្ងៃ 
បន្ទាប់ពីអនុញ្ញាតឱ្យចូលធ្វើការ ដើម្បីទទួលបានលេខអត្តសញ្ញាណ ប.ស.ស. (លេខ១៥ខ្ទង់)។</p>
                    
                    <h3 class="siemreap">២.បទដ្ឋានគតិយុត្ត</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="creative-items col-lg-12">
                    <div class="creative-item">
                        <div class="row align-center">
                            <div class="col-lg-3">
                                <img src="assets/img/anounment/exchang.jpg" alt="Thumb">
                            </div>
                            <div class="col-lg-9">
                                <div class="info">
                                    <h4 class="siemreap">ប្រកាសលេខ ៤៤៨/១៧ ក.ប/ប្រ.ក.ប.ស.ស ចុះថ្ងៃទី១០ ខែវិច្ឆិកា ឆ្នាំ២០១៧ ស្ដីពីបញ្ជិកាសហគ្រាស គ្រឹះស្ថាន និងកម្មករនិយោជិតក្នុងបេឡាជាតិ សន្តិសុខសង្គម (ប.ស.ស) សម្រាប់ជនទាំងឡាយណាដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃច្បាប់ស្ដីពីការងារ</h4>
                                    <span>Creative Manager</span>
                                    <p>
                                        Day her likewise smallest expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. Death mirth in oh learn he equal on. 
                                    </p>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-behance"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="creative-item">
                        <div class="row align-center">
                            <div class="col-lg-3">
                                <img src="assets/img/anounment/exchang.jpg" alt="Thumb">
                            </div>
                            <div class="col-lg-9">
                                <div class="info">
                                    <h4 class="siemreap">ប្រកាសលេខ ៤៤៨/១៧ ក.ប/ប្រ.ក.ប.ស.ស ចុះថ្ងៃទី១០ ខែវិច្ឆិកា ឆ្នាំ២០១៧ ស្ដីពីបញ្ជិកាសហគ្រាស គ្រឹះស្ថាន និងកម្មករនិយោជិតក្នុង
                                        បេឡាជាតិ សន្តិសុខសង្គម (ប.ស.ស) សម្រាប់ជនទាំងឡាយណាដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃច្បាប់ស្ដីពីការងារ</h4>
                                    <span>Creative Manager</span>
                                    <p>
                                        Day her likewise smallest expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                                        Death mirth in oh learn he equal on. 
                                    </p>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-behance"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="creative-item">
                        <div class="row align-center">
                            <div class="col-lg-3">
                                <img src="assets/img/anounment/exchang.jpg" alt="Thumb">
                            </div>
                            <div class="col-lg-9">
                                <div class="info">
                                    <h4 class="siemreap">ប្រកាសលេខ ៤៤៨/១៧ ក.ប/ប្រ.ក.ប.ស.ស ចុះថ្ងៃទី១០ ខែវិច្ឆិកា ឆ្នាំ២០១៧ ស្ដីពីបញ្ជិកាសហគ្រាស គ្រឹះស្ថាន និងកម្មករនិយោជិតក្នុងបេឡាជាតិ សន្តិសុខសង្គម 
                                        (ប.ស.ស) សម្រាប់ជនទាំងឡាយណាដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃច្បាប់ស្ដីពីការងារ</h4>
                                    <span>Creative Manager</span>
                                    <p>
                                        Day her likewise smallest expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                                        Death mirth in oh learn he equal on. 
                                    </p>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-behance"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Team Members -->
