﻿@page "/"

        <Banner/>
        <!-- End Banner -->
        <!-- Start Mission
    ============================================= -->
        @*<div class="our-mission default-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mission-info">
                            <ul id="tabs" class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#" data-target="#tab1" data-toggle="tab" class="active nav-link font-khmer">
                                        <i class="fa fa-bullhorn"></i> មជ្ឈមណ្ឌលព័ត៌មាន ១២៨៦
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" data-target="#tab2" data-toggle="tab" class="nav-link font-khmer">
                                        <i class="fa fa-lightbulb"></i> ព័ត៌មានសំខាន់ៗ
                                    </a>
                                </li> 
                                
                                <li class="nav-item">
                                    <a href="#" data-target="#tab2" data-toggle="tab" class="nav-link font-khmer">
                                        <i class="fa-solid fa-building-columns"></i> ចំនួនសហគ្រាស និងកម្មករចុះបញ្ជិកា
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" data-target="#tab3" data-toggle="tab" class="nav-link font-khmer">
                                        <i class="fa fa-phone"></i> ទំនាក់ទំនង
                                    </a>
                                </li>   
                                
                                <li class="nav-item">
                                    <a href="#" data-target="#tab3" data-toggle="tab" class="nav-link font-khmer">
                                        <i class="fa-solid fa-sack-dollar"></i> អត្រាប្តូរប្រាក់
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="tabsContent" class="tab-content">

                            <div id="tab1" class="tab-pane fade active show">
                                <div class="row">
                                     <div class="col-xs-12 col-lg-6">
                                         <img src="assets/img/about/1286.jpg" />
                                     </div> 
                                     <div class="col-xs-12 col-lg-6">
                                         <h1 class="Slide-Title" style="color: #1453f5;">មជ្ឈមណ្ឌលព័ត៌មាន / Call Center</h1>
                                         <p class="font-khmer">
                                            បេឡាជាតិសន្តិសុខសង្គម (ប.ស.ស.) គឺជាគ្រឹះស្ថានសាធារណៈរដ្ឋបាលបម្រើសេវាមានលក្ខណៈសង្គម ដែលទទួលបន្ទុកអនុវត្តរបបសន្តិសុខសង្គមផ្នែកប្រាក់សោធន ផ្នែកថែទាំសុខភាព ផ្នែកហានិភ័យការងារ និងផ្នែកនិកម្មភាពការងារ។  ប.ស.ស. រីករាយទទួលជានិច្ច ចំពោះមតិយោបល់របស់លោក លោកស្រី។ សូមអរគុណ!                                        
                                         </p>
                                         <a data-animation="animated fadeInDown" class="btn btn-primary btn-outline border effect btn-sm font-khmer" href="#" style="padding: 6px 15px;">មតិយោបល់</a>
                                     </div>
                                </div>
                                
                            </div>

                            <div id="tab2" class="tab-pane fade">
                               <a href="http://www.nssf.gov.kh/default/?p=12984" >សេចក្ដីជូនដំណឹងស្ដីពី ការពន្យារកាលបរិច្ឆេទឈប់ទទួលពាក្យ ស្នើសុំប្រឡងជ្រើសរើសបុគ្គលិកជាប់កិច្ចសន្យាឱ្យចូលបម្រើការងារ នៅបេឡាជាតិសន្តិសុខសង្គម សម្រាប់ឆ្នាំ២០២២ </a>
                            </div>
                            <div id="tab3" class="tab-pane fade">
                                <p>
                                    Consulting enquire painful ye to offices forming it. Then so does over sent dull on. Likewise offended humoured mrs fat trifling answered. On ye position greatest so desirous. So wound stood guest weeks no terms up ought. By so these am so rapid blush songs begin. Nor but mean time one over. <br>In on announcing if of comparison pianoforte projection. Maids hoped gay yet bed asked blind dried point. On abroad danger likely regret twenty edward do. Too horrible consider followed may differed age. An rest if more five mr of. Age just her rank met down way. Attended required so in cheerful an. Domestic replying she resolved him for did. Rather in lasted no within no. On ye position greatest so desirous. So wound stood guest weeks no terms up ought. By so these am so rapid blush songs begin. Nor but mean time one over.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 thumb">
                        <img src="assets/img/about/1.jpg" alt="Thumb">
                    </div>
                </div>
            </div>
        </div>*@
        <!-- End Mission -->
        <!-- Start Services
    ============================================= -->
        <div id="services" class="services-area bg-gray text-center default-padding bottom-less">
            <div class="container">
                <div class="row">
                    <div class="site-heading text-center">
                        <div class="col-lg-12">
                            <h2> <span style="font-family:'Khmer OS Siemreap';color: #3667a5;font-size: 16pt;">មជ្ឈមណ្ឌលព័ត៌មាន ១២៨៦</span> </h2>
                            
                            <div class="row" style="margin-top: 25px;">
                                <div class="col-xs-12 col-lg-6" style="padding: 0px;">
                                    <img src="assets/img/about/1286.jpg" />
                                </div> 
                                <div class="col-xs-12 col-lg-6 text-left" style="padding-left: 35px;">
                                    <h1 class="Slide-Title" style="color: #1453f5;">មជ្ឈមណ្ឌលព័ត៌មាន / Call Center</h1>
                                     <p class="font-khmer" style="padding-left: 0;text-indent: 30px;margin-bottom: 10px;">
                                                បេឡាជាតិសន្តិសុខសង្គម (ប.ស.ស.) គឺជាគ្រឹះស្ថានសាធារណៈរដ្ឋបាលបម្រើសេវាមានលក្ខណៈសង្គម ដែលទទួលបន្ទុកអនុវត្តរបបសន្តិសុខសង្គមផ្នែកប្រាក់សោធន 
                                                ផ្នែកថែទាំសុខភាព ផ្នែកហានិភ័យការងារ និងផ្នែកនិកម្មភាពការងារ។  ប.ស.ស. រីករាយទទួលជានិច្ច ចំពោះមតិយោបល់របស់លោក លោកស្រី។ សូមអរគុណ!                                        
                                     </p>
                                     <a data-animation="animated fadeInDown" target="_blank" class="btn btn-dark  effect btn-sm font-khmer" href="https://docs.google.com/forms/d/1w-OhI5U6KUxMkt06yMHDt-asFvtK4JPkeOoyFVvaIVo/edit" style="padding: 6px 15px;">មតិយោបល់</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-items">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 equal-height">
                            <div class="item">
                                <i class="fa-solid fa-building-columns"></i>
                                <h4>សហគ្រាសសរុប</h4>
                                <h5 class="font-khmer"> ១៧,៣៥៥ សហគ្រាស  </h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 equal-height">
                            <div class="item">
                                <i class="fa-solid fa-people-group"></i>
                                <h4>ចំនួនសមាជិកសរុប</h4>
                                <h5 class="font-khmer">២,៧២៣,៨២៦ នាក់</h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 equal-height">
                            <div class="item">
                                <i class="fa-solid fa-person-dress"></i>
                                <h4>ចំនួនសមាជិកស្រីសរុប</h4>
                                <h5 class="font-khmer">  ១,៦៣៣,៥៨៣ នាក់ </h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 equal-height">
                            <div class="item">
                                <i class="fa fa-phone"></i>
                                <h4>ទំនាក់ទំនង</h4>
                                <p class="font-khmer">សម្រាប់ព័ត៌មានបន្ថែមសូមទំនាក់ទំនង៖</p>
                                <p class="font-khmer">(+៨៥៥)២៣ ៨៨២ ៤៣៤</p>
                                <p class="font-khmer">​​​​(+៨៥៥)២៣ ៨៨២ ៦២៣</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 equal-height">
                            <div class="item">
                                <i class="fa-solid fa-sack-dollar"></i>
                                <h4>អត្រាប្តូរប្រាក់</h4>
                                <p class="font-khmer"> ១ដុល្លា = ៤០៦៧រៀល </p>  
                                <p class="font-khmer">១បាត = ១២៦រៀល</p>  
                                <p class="font-khmer"> ១០០០ដុង = ១៨២រៀល </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 equal-height">
                            <div class="item">
                                <i class="fa-brands fa-facebook-square"></i>
                                <h4>ប.ស.ស Facebook Page</h4>
                                <p>
                                    បេឡាជាតិសន្តិសុខសង្គម (ប.ស.ស.) គឺជាគ្រឹះស្ថានសាធារណៈរដ្ឋបាលបម្រើសេវាមានលក្ខណៈសង្គម ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Services -->
        <!-- Start On Going Projects
    ============================================= -->
        <div class="row" style="background: #dfe4e7;">
            <div class="site-heading text-center">
                <div class="col-lg-12">
                    <h2> <span style="font-family:'Khmer OS Siemreap';color: #3667a5;font-size: 16pt;">ព្រឹត្តិការណ៍ថ្មីៗ</span> </h2> 
                </div>
            </div>
        </div>
        <div class="ogp-area overflow-hidden text-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 og-item bg-cover" style="background-image: url(assets/img/banner/NSSF1.jpg);">
                    </div>
                    <div class="col-lg-3 og-item">
                        <div class="content">
                            <h4 class="Slide-Title">មន្ត្រីជំនាញ ប.ស.ស. ចូលរួមប្រជុំពិភាក្សាស្ដីពី «មូលនិធិហិរញ្ញប្បទានគាំពារសង្គម» តាមរយៈប្រព័ន្ធអនឡាញ (Zoom)</h4>
                            <p>
                                មន្ត្រីជំនាញ ប.ស.ស. ចូលរួមប្រជុំពិភាក្សាស្ដីពី «មូលនិធិហិរញ្ញប្បទានគាំពារសង្គម» តាមរយៈប្រព័ន្ធអនឡាញ (Zoom) (ភ្នំពេញ) ដោយទទួលបានការអនុញ្ញាតរបស់ 
                                ឯកឧត្តម អ៊ុក សមវិទ្យា ប្រតិភូរាជរដ្ឋាភិបាលទទួលបន្ទុកជាអគ្គនាយកបេឡាជាតិសន្តិសុខសង្គម (ប.ស.ស.) នៅព្រឹកថ្ងៃសុក្រ ទី១៨ ខែមីនា
                            </p>
                            <a class="btn btn-border-light btn-sm-pro" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 og-item bg-cover" style="background-image: url(assets/img/banner/NSSF2.jpg);">
                    </div>
                    <div class="col-lg-3 og-item">
                        <div class="content">
                            <h4 class="Slide-Title">សេចក្ដីព្រាងច្បាប់ស្ដីពីប្រព័ន្ធគាំពារសង្គម ត្រូវបានគណៈកម្មាធិការប្រតិបត្តិនៃក្រុមប្រឹក្សាជាតិគាំពារសង្គម លើកមកប្រជុំដើម្បីពិនិត្យ
                                និងពិភាក្សាជាមួយស្ថាប័នពាក់ព័ន្ធ នាព្រឹកនេះ</h4>
                            <p>
                                ភ្នំពេញ)៖ នាព្រឹកថ្ងៃសុក្រ ទី១៨ ខែមីនា ឆ្នាំ២០២២នេះ ឯកឧត្តម ហេង សុផាន់ណារិទ្ធ អគ្គនាយករង ប.ស.ស. និងជាប្រធានក្រុមការងារកិច្ចការអ្នកច្បាប់ ប.ស.ស. 
                                បានដឹកនាំក្រុមក ...
                            </p>
                            <a class="btn btn-border-light btn-sm-pro" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End On Going Projects -->
        <!-- Start Our Goal
    ============================================= -->
        <div class="our-goal default-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 goal-info">
                        <h2 class="font-khmer" style="font-size: 24pt;">គោលបំណង</h2>
                        <p style="text-indent: 40px;">
រៀប​ចំ និង គ្រប់​គ្រង​របប​សន្តិសុខ​សង្គម​យោង​តាម​បទប្បញ្ញត្តិ នៃ​ច្បាប់​ដែល​បាន​បង្កើត​សន្តិសុខ​សង្គម​នេះសម្រាប់​ជន​ទាំង ឡាយ​ដែល​ស្ថិត​នៅ​ក្រោម​បទប្បញ្ញត្តិនៃ ច្បាប់​ស្តី​ពី​ការងារ។  
ធានា​ការ​ផ្តល់​តាវ​កាលិក​ដល់​សមាជិក​ប.ស.ស (ជន​ដែល​បាន​ធានា​រ៉ាប់រង) ក្នុង​គោល​បំណង​ផ្តល់​ឲ្យ​សមាជិក​នូវ​សន្តិសុខ​ប្រាក់​ចំណូល​ក្នុង​ករណី​ដែល​សមាជិក​រូប​នោះ មាន​យថាភាព​មួយ​ចំនួន​ដូចជា៖
ជរា​ភាព ទុព្វល​ភាព មរណ​ភាព ហា​និភ័យ​ការងារ និង​គ្រោះ​ថ្នាក់​មួយ​ចំនួន​ទៀត។

ប្រមូល​ភាគទាន​ពី​សមាជិក និង​និយោជក​ទាំង​អស់។
ជួយ​សម្រួល និង​រៀប​ចំ​បទ​ប្បញ្ញត្តិ​នៃ​សេវា​សង្គម និង​សុខភាព​ជូន​សមាជិក​ទាំង​អស់។
សហប្រតិបត្តិការ​ជាមួយ​អង្គការ​នានា​ដែល​ទាក់​ទង​ទៅ​នឹង៖
អប់រំ និង​ផ្សព្វផ្សាយ​យុទ្ធ​សាស្រ្ត​ក្នុង​ការ​ការពារ​ហានិភ័យ​ការងារ
និង ផ្សព្វផ្សាយ​វិធាន​ការ​ស្តី​ពី​សុខភាព និង​សុវត្ថិភាព​នៅ​កន្លែង​ធ្វើការ។
សហ​ប្រតិបត្តិការ​ជាមួយ​នឹង​អង្គការ​ពាក់ព័ន្ធ​ដើម្បី​សិក្សា និង​ស៊ើប​អង្កេត​ជម្ងឺ​វិជ្ជា​ជីវៈ។
គ្រប់​គ្រង​ការ​វិនិយោគ​នៃ​មូល​និធិ​សន្តិសុខ​សង្គម។                      </p>
                        <a class="btn btn-dark btn-sm-lm" href="#">Know More</a>
                    </div>
                    <div class="col-lg-6 goal-achive text-center">
                        <div class="fun-factor">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 item">
                                    <div class="fun-fact">
                                       <i class="fa-solid fa-person-digging"></i>
                                        <div class="timer" data-to="1679" data-speed="5000"></div>
                                        <h4>គ្រោះថ្នាក់ការងារ</h4>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 item">
                                    <div class="fun-fact">
                                        <i class="fa-solid fa-hand-holding-heart" style="color: green;"></i>
                                        <div class="timer" data-to="4567" data-speed="5000"></div>
                                        <h4>ថែទាំសុខភាព</h4>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 item">
                                    <div class="fun-fact">
                                        <i class="fa-solid fa-person-cane" style="color: #002fa5;"></i>
                                        <div class="timer" data-to="8654" data-speed="5000"></div>
                                        <h4>ប្រាក់សោធន</h4>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-md-6 item">
                                    <div class="fun-fact">
                                        <i class="flaticon-coffee-cup-1"></i>
                                        <div class="timer" data-to="2348" data-speed="5000"></div>
                                        <h4>Cup of Tea</h4>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Our Goal -->
        <!-- Start Team Members
    ============================================= -->
       @* <div id="team" class="team-members-area standard default-padding bg-gray text-center">
            <div class="container">
                <div class="row">
                    <div class="site-heading text-center">
                        <div class="col-lg-8 offset-lg-2">
                            <h2>Team Mebers</h2>
                            <p>
                                Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="team-member">
                            <div class="team-thumb">
                                <img src="assets/img/team/1.jpg" alt="Thumb" />
                                <div class="team-info">
                                    <h4>Joney Mike</h4>
                                    <span>Chairman</span>
                                </div>
                            </div>
                            <div class="team-overlay">
                                <div class="bio">
                                    <h4>I love my Studio</h4>
                                    <p>We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing.</p>
                                </div>
                                <div class="social-link">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="team-member">
                            <div class="team-thumb">
                                <img src="assets/img/team/2.jpg" alt="Thumb" />
                                <div class="team-info">
                                    <h4>Robert Smith</h4>
                                    <span>Founder & CEO</span>
                                </div>
                            </div>
                            <div class="team-overlay">
                                <div class="bio">
                                    <h4>Connecting People</h4>
                                    <p>We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing.</p>
                                </div>
                                <div class="social-link">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="team-member">
                            <div class="team-thumb">
                                <img src="assets/img/team/3.jpg" alt="Thumb" />
                                <div class="team-info">
                                    <h4>Jonathom Doe</h4>
                                    <span>Manager & COO</span>
                                </div>
                            </div>
                            <div class="team-overlay">
                                <div class="bio">
                                    <h4>Network Builder</h4>
                                    <p>We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing.</p>
                                </div>
                                <div class="social-link">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- End Team Members -->
        <!-- Start What We Do
    ============================================= -->
        <div class="we-do about-area">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6 bg-cover" style="background-image: url(assets/img/banner/NSSF3.jpg);">
                    </div>

                    <div class="col-lg-6 info">
                        <div class="content">
                            <a href="#"><h2 class="Slide-Title" style="color: #3261db;">ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. 
                                ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលា</h2></a>
                           
                            <p style="text-indent: 40px;">
                                ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. 
                                ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលា (ភ្នំពេញ)៖ ថ្លែងក្នុងឱកាសអញ្ជើញជាអធិបតីភាពក្នុងកិច្ចប្រជុំពិនិត្យលើវឌ្ឍនភាពការងារសម្រេចបាន ព្រមទាំងដោះស្រាយបញ្ហាប្រឈមផ្សេងៗ
                                ប្រចាំខែកុម្ភៈ នាព្រឹកមិញនេះ ឯកឧត្តម …
                            </p>
                            <a href="#" class="btn btn-dark btn-sm font-khmer">បង្ហាញលម្អិត</a>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-6 bg-cover" style="background-image: url(assets/img/banner/NSSF2.jpg);">
                    </div>
                    <div class="col-lg-6 info">
                        <div class="content">
                            <a href="#"><h2 class="Slide-Title" style="color: #3261db;">ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. 
                                ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលា</h2></a>
                            
                            <p style="text-indent: 40px;">
                                ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. 
                                ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលា (ភ្នំពេញ)៖ ថ្លែងក្នុងឱកាសអញ្ជើញជាអធិបតីភាពក្នុងកិច្ចប្រជុំពិនិត្យលើវឌ្ឍនភាពការងារសម្រេចបាន 
                                ព្រមទាំងដោះស្រាយបញ្ហាប្រឈមផ្សេងៗប្រចាំខែកុម្ភៈ នាព្រឹកមិញនេះ ឯកឧត្តម …
                            </p>
                            <a href="#" class="btn btn-dark btn-sm font-khmer">បង្ហាញលម្អិត</a>
                        </div>
                    </div>
                </div>    
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-6 bg-cover" style="background-image: url(assets/img/banner/NSSF1.jpg);">
                    </div>
                    <div class="col-lg-6 info">
                        <div class="content">
                            <a href="#"><h2 class="Slide-Title" style="color: #3261db;">ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. 
                                ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលា</h2></a>
                            
                            <p style="text-indent: 40px;">
                                ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. 
                                ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលា (ភ្នំពេញ)៖ ថ្លែងក្នុងឱកាសអញ្ជើញជាអធិបតីភាពក្នុងកិច្ចប្រជុំពិនិត្យលើវឌ្ឍនភាពការងារសម្រេចបាន 
                                ព្រមទាំងដោះស្រាយបញ្ហាប្រឈមផ្សេងៗប្រចាំខែកុម្ភៈ នាព្រឹកមិញនេះ ឯកឧត្តម …
                            </p>
                            <a href="#" class="btn btn-dark btn-sm font-khmer">បង្ហាញលម្អិត</a>
                        </div>
                    </div>
                </div>

              <div class="blog-area full-blog default-padding">
                
                 <div class="container">
                    <div class="blog-items">
                        <div class="row">
                            <div class="blog-content col-lg-8">
                                <div class="col-md-12 pagi-area">
                                    <nav aria-label="navigation">
                                        <ul class="pagination">
                                            <li><a href="#">Previous</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- End What We Do -->
        <!-- Start Pricing Tables
    ============================================= -->
        <div id="pricing" class="default-padding bottom-less bg-gray pricing-plane">
            <div class="container">
                <div class="row">
                    <div class="site-heading text-center">
                        <div class="col-lg-8 offset-lg-2">
                            <h2 class="Slide-Title" style="color: #3261db;">កម្មវិធីកុំព្យូទ័រ</h2>
                            @*<p>
                                Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh.
                            </p>*@
                        </div>
                    </div>
                </div>
                <div class="pricing pricing-simple text-center">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 single-item">
                            <div class="pricing-item">
                                <ul>
                                    <li class="pricing-header">
                                        <h4 style="color: #3261db;">NSSF Program 9.1</h4>
                                        <h2>58448</h2>
                                        <span>Download</span>
                                    </li>
                                    <li>File Size       :   9.02 MB <i class="fas fa-check-circle"></i></li>
                                    <li>File Count      :   1 <i class="fas fa-check-circle"></i></li>
                                    <li>Create Date     :   January 15, 2019 <i class="fas fa-check-circle"></i></li>
                                    <li>Last Updated    :   March 21, 2019<i class="fas fa-times-circle"></i></li>
                                    <li class="footer">
                                        <a class="btn btn-dark border btn-sm" href="#">Download</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 single-item">
                            <div class="pricing-item">
                                <ul>
                                    <li class="pricing-header">
                                        <h4 style="color: #3261db;">.NET Framework 4.0</h4>
                                        <h2>58448</h2>
                                        <span>Download</span>
                                    </li>
                                    <li>File Size       :   9.02 MB <i class="fas fa-check-circle"></i></li>
                                    <li>File Count      :   1 <i class="fas fa-check-circle"></i></li>
                                    <li>Create Date     :   January 15, 2019 <i class="fas fa-check-circle"></i></li>
                                    <li>Last Updated    :   March 21, 2019<i class="fas fa-times-circle"></i></li>
                                    <li class="footer">
                                        <a class="btn btn-dark border btn-sm" href="#">Download</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 single-item">
                            <div class="pricing-item">
                                <ul>
                                    <li class="pricing-header">
                                        <h4 style="color: #3261db;">AccessDatabaseEngine 2007</h4>
                                        <h2>58448</h2>
                                        <span>Download</span>
                                    </li>
                                    <li>File Size       :   9.02 MB <i class="fas fa-check-circle"></i></li>
                                    <li>File Count      :   1 <i class="fas fa-check-circle"></i></li>
                                    <li>Create Date     :   January 15, 2019 <i class="fas fa-check-circle"></i></li>
                                    <li>Last Updated    :   March 21, 2019<i class="fas fa-times-circle"></i></li>
                                    <li class="footer">
                                        <a class="btn btn-dark border btn-sm" href="#">Download</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pricing Tables -->
        <!-- Start Video
    ============================================= -->
        <div class="video-area bg-fixed text-center effect-video padding-xl text-light shadow dark" style="background-image: url(assets/img/about/1286.jpg);background-size: 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2 class="font-khmer">វីដេអូសម្រាប់ជំនួយក្នុងការតំឡើងកម្មវិធី NSSF Program</h2>
                        <p>
                            បេឡា​ជាតិ​​សន្តិសុខ​សង្គម (ប.ស.ស) មាន​ភារ​កិច្ច​ផ្តល់​នូវ​សន្តិសុខ​សង្គម​ជា​មូល​ដ្ឋាន​ជូន​កម្មករ​និយោជិត​ទាំងអស់​ដែលធ្វើ​ការ​ក្នុង​វិស័យ​ឯក​ជន។ ប.ស.សចុះ​បញ្ជិកា​សមាជិក
                            ទទួល​ភាគ​ទាន​របស់​សមាជិក​នោះ គ្រប់​គ្រង​មូល​និធិ​នៃ​របប ដំណើរការ និង​ផ្តល់​តាវ​កា​លិក​ដល់​សមាជិក ឬ​អ្នក​នៅ​ក្នុង​បន្ទុក។
                        </p>
                        <div class="video">
                            <a href="https://www.youtube.com/watch?v=8UW-Kin4FQM&width=640&height=480" class="popup-youtube"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Video -->
        <!-- Start Contact
    ============================================= -->
        <div class="contact-info-area default-padding bottom-less">
            <div class="container">
                <div class="contact-items">
                    <div class="row">
                        @*<div class="col-lg-12 subscribe">
                            <div class="subscribe-box bg-gray">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="subscribe-info">
                                            <h4>subscribe to get in touch</h4>
                                            <p>Ties boisterous say why stimulated. Certain forbade</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="subscribe-form">
                                            <form class="form-inline">
                                                <input type="email" placeholder="Enter your email address" class="form-control">
                                                <button class="btn btn-medium btn-dark-solid text-uppercase" type="submit">subscribe</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="contact-info text-center col-lg-12">
                            <div class="row">
                                <div class="col-lg-4 item">
                                    <i class="icon_pin"></i>
                                    <h4 style="font-family: 'Khmer OS Siemreap'">ស្នាក់ការកណ្តាល៖</h4>
                                    <p>
                                        ក្រសួងការងារ និង បណ្តុះបណ្តាលវិជ្ជាជីវៈ , អាគារបេឡាជាតិសន្តិសុខសង្គម​(អាគារ​លេខ​ ៣) មហាវិថីសហព័ន្ធ​រុស្សី​ សង្កាត់ទឹកល្អក់១ ខណ្ឌទួលគោក​ រាជធានី​ភ្នំពេញ។
                                    </p>
                                </div>
                                <div class="col-lg-4 item">
                                    <i class="icon_mail"></i>
                                    <h4>Email</h4>
                                    <p>
                                        Get support via email  <br>
                                        info@nssf.gov.kh
                                    </p>
                                </div>
                                <div class="col-lg-4 item">
                                    <i class="icon_phone"></i>
                                    <h4 style="font-family: 'Khmer OS Siemreap'">លេខទូរស័ព្ទ ៖</h4>
                                    <p>
                                         (៨៥៥)២៣ ៨៨២ ៤៣៤ <br/> និង ​​​​​​​​​​​​​​(៨៥៥)២៣ ៨៨២ ៦២៣
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>