﻿<div id="home" class="banner-area text-medium">
        <div id="sofolbanner" class="carousel menu-transparent slide transparent animate_text carousel-fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item bg-cover shadow dark text-light active" style="background-image: url(assets/img/banner/NSSF1.jpg);">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1 data-animation="animated fadeInUp" class="Slide-Title">មន្ត្រីជំនាញ ប.ស.ស. ចូលរួមប្រជុំពិភាក្សាស្ដីពី «មូលនិធិហិរញ្ញប្បទានគាំពារសង្គម» តាមរយៈប្រព័ន្ធអនឡាញ (Zoom)</h1>
                                        <p data-animation="animated fadeInUp" class="slide-content">
                                            មន្ត្រីជំនាញ ប.ស.ស. ចូលរួមប្រជុំពិភាក្សាស្ដីពី «មូលនិធិហិរញ្ញប្បទានគាំពារសង្គម» តាមរយៈប្រព័ន្ធអនឡាញ (Zoom)
(ភ្នំពេញ) ដោយទទួលបានការអនុញ្ញាតរបស់ ឯកឧត្តម អ៊ុក សមវិទ្យា ប្រតិភូរាជរដ្ឋាភិបាលទទួលបន្ទុកជាអគ្គនាយកបេឡាជាតិសន្តិសុខសង្គម (ប.ស.ស.) នៅព្រឹកថ្ងៃសុក្រ ទី១៨ ខែមីនា
                                        </p>
                                        <a data-animation="animated fadeInDown" class="btn btn-light siemreap border effect btn-sm" href="#">អានបន្ត</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item bg-cover shadow dark text-light" style="background-image: url(assets/img/banner/NSSF2.jpg);">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1 data-animation="animated fadeInUp" class="Slide-Title">សេចក្ដីព្រាងច្បាប់ស្ដីពីប្រព័ន្ធគាំពារសង្គម ត្រូវបានគណៈកម្មាធិការប្រតិបត្តិនៃក្រុមប្រឹក្សាជាតិគាំពារសង្គម លើកមកប្រជុំដើម្បីពិនិត្យ និងពិភាក្សាជាមួយស្ថាប័នពាក់ព័ន្ធ នាព្រឹកនេះ</h1>
                                        <p data-animation="animated fadeInUp" class="slide-content">
                                            ភ្នំពេញ)៖ នាព្រឹកថ្ងៃសុក្រ ទី១៨ ខែមីនា ឆ្នាំ២០២២នេះ ឯកឧត្តម ហេង សុផាន់ណារិទ្ធ អគ្គនាយករង ប.ស.ស. និងជាប្រធានក្រុមការងារកិច្ចការអ្នកច្បាប់ ប.ស.ស. បានដឹកនាំក្រុមក ... 
                                        </p>
                                        <a data-animation="animated fadeInDown" class="btn btn-light border siemreap effect btn-sm" href="#">អានបន្ត</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item bg-cover shadow dark text-light" style="background-image: url(assets/img/banner/NSSF3.jpg);">
                    <div class="box-table">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1 data-animation="animated fadeInUp" class="Slide-Title">ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលាy</h1>
                                        <p data-animation="animated fadeInUp" class="slide-content">
                                            ការដោះស្រាយបញ្ហាប្រឈមដែលនៅសេសសល់ គឺជាគន្លឹះស្នូល ដែលថ្នាក់ដឹកនាំនាយកដ្ឋាន និងប្រធានសាខា ប.ស.ស. ខេត្ត-ខណ្ឌ ទាំងអស់នៃ ប.ស.ស. ត្រូវបន្តដោះស្រាយឲ្យបានទាន់ពេលវេលា
(ភ្នំពេញ)៖ ថ្លែងក្នុងឱកាសអញ្ជើញជាអធិបតីភាពក្នុងកិច្ចប្រជុំពិនិត្យលើវឌ្ឍនភាពការងារសម្រេចបាន ព្រមទាំងដោះស្រាយបញ្ហាប្រឈមផ្សេងៗប្រចាំខែកុម្ភៈ នាព្រឹកមិញនេះ ឯកឧត្តម …
                                        </p>
                                        <a data-animation="animated fadeInDown" class="btn btn-light siemreap border effect btn-sm" href="#">អានបន្ត</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

            <!-- Left and right controls -->
            <a class="left carousel-control focus light" href="#sofolbanner" data-slide="prev">
                <i class="arrow_left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control focus light" href="#sofolbanner" data-slide="next">
                <i class="arrow_right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>