﻿<footer class="text-light">
        <div class="container-fluid container-footer" style="padding: 100px;padding-bottom: 20px">
            <div class="f-items fv1">
                <div class="row">
                    <div class="col-lg-4 item">
                        <div class="f-item">
                            <h4 class="siemreap">អំពី ប.ស.ស</h4>
                            <p style="text-indent: 40px;">
                                សន្តិសុខសង្គមត្រូវបានបង្កើតឡើងក្នុងប្រទេសកម្ពុជានៅឆ្នាំ១៩៥៥ យោងតាមព្រះរាជក្រឹត្យលេខ៥៥ និង៣០៦។ តែគួរឲ្យសោកស្តាយកំឡុងពេលរបប ប្រល័យ ពូជសាសន៍ 
                                (១៩៧៥-១៩៧៩) សន្តិសុខសង្គមនេះត្រូវបានបំផ្លាញចោលទាំងស្រុង។ ពីឆ្នាំ១៩៧៩-១៩៩៣ ប្រជាជនបានទទួលសេវាថែទាំសុខភាពដោយ ឥតគិតថ្លៃ។ បន្ទាប់ពីការបោះឆ្នោតឆ្នាំ១៩៩៣
                                នាយកដ្ឋានសន្តិសុខសង្គមត្រូវបានបង្កើតឡើង។ នាយកដ្ឋាននេះទទួលខុសត្រូវការរៀបចំទាំងអស់នៃប្រកាសសម្រាប់ ការអនុវត្តកិច្ចគាំពារសន្តិសុខសង្គមដល់ប្រជាជន
                                ដែលធ្វើការក្នុងវិស័យឯកជន។ ជាលទ្ធផល ការកែប្រែបទប្បញ្ញត្តិស្តីពីច្បាប់ការងារឆ្នាំ១៩៩២ដែលជាច្បាប់ការងារ កម្ពុជា បច្ចុប្បន្នដែលអនុម័តក្នុងឆ្នាំ១៩៩៧ 
                                ត្រូវបានអនុវត្តដោយនាយកដ្ឋានការងារ (ថ្មីៗនេះប្តូរទៅជាអគ្គនាយកដ្ឋានការងារ)។ បន្ទាប់ពីនោះមក ច្បាប់សន្តិសុខសង្គម ត្រូវបានអនុម័តដោយសភានៅខែកញ្ញា ឆ្នាំ២០០២ 
                                ដែលថ្មីៗត្រូវបានគេស្គាល់ថា ច្បាប់សន្តិសុខសង្គមសម្រាប់ជនទាំងឡាយដែលស្ថិតនៅក្រោមបទប្បញ្ញត្តិនៃ ច្បាប់ស្តីពីការងារ។ អនុក្រឹត្យស្តីពីការបង្កើតបេឡាជាតិសន្តិសុខសង្គមត្រូវបានអនុម័ត
                                នៅឆ្នាំ២០០៧ ដែលបង្កើតឡើងដើម្បីជំនួសនាយកដ្ឋានសន្តិសុខសង្គម។ ប.ស.សត្រូវបានបង្កើតឡើងដើម្បីគ្រប់គ្រងផ្នែកកិច្ចគាំពារ សន្តិសុខសង្គមឱ្យស្របទៅតាមច្បាប់សន្តិសុខសង្គមជាតិ
                                និងបទប្បញ្ញត្តិសន្តិសុខសង្គមអនុលោមតាម អនុក្រឹត្យ។ ក្រោយពីការរៀបចំដ៏ធំទូលាយនេះ ប.ស.ស ត្រូវបានដំណើរការនៅចុងឆ្នាំ២០០៨ ។
                            </p>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 item">
                        <div class="f-item recent-post">
                            <h4 class="siemreap">ព្រឹត្តិការណ៍ថ្មីៗ</h4>
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/footer/Nssf12.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="siemreap">ក្រុមប្រឹក្សាភិបាល នៃ ប.ស.ស. បន្ដកិច្ចប្រជុំ ដើម្បីពិនិត្យ និងពិភាក្សា លើរបៀបវារៈដែលនៅសេសសល់កាលកិច្ចប្រជុំលើកទី១១ របស់ខ្លួន</a>
                                        <div class="meta-title">
                                            <span class="post-date">12 Feb, 2018</span> | By <a href="#">Author</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/footer/Nssf11.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="siemreap">
                                            នារសៀលថ្ងៃទី៣០ ខែមីនា ឆ្នាំ២០២២នេះ ឯកឧត្តម ហេង សុផាន់ណារិទ្ធ អគ្គនាយរង នៃបេឡាជាតិសន្តិសុខសង្គម បានអញ្ជើញចូលរួមក្នុងកិច្ចប្រជុំស្តីពី “យន្តការសម្របសម្រួលរវាងរាជរដ្ឋាភិបាល និង ... 
                                        </a>
                                        <div class="meta-title">
                                            <span class="post-date">12 Feb, 2018</span> | By <a href="#">Author</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/footer/Nssf10.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="siemreap">សេចក្ដីព្រាងច្បាប់ស្ដីពីប្រព័ន្ធគាំពារសង្គម ត្រូវបានគណៈកម្មាធិការប្រតិបត្តិនៃក្រុមប្រឹក្សាជាតិគាំពារសង្គម លើកមកប្រជុំដើម្បីពិនិត្យ និងពិភាក្សាជាមួយស្ថាប័នពាក់ព័ន្ធ នាព្រឹកនេះ</a>
                                        <div class="meta-title">
                                            <span class="post-date">12 Feb, 2018</span> | By <a href="#">Author</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 item">
                        <div class="f-item instagram-feed">
                            <h4 class="siemreap">កម្មវិធីទូរស័ព្ទ</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/footer/Nssf_Member_Android.jpg" alt="thumb">
                                        <span class="overay siemreap" >
                                            <i class="fa fa-heart"></i> សម្រាប់សមាជិកប.ស.ស. (Android)
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/footer/Nssf_Member_ios.jpg" alt="thumb">
                                        <span class="overay siemreap">
                                            <i class="fa fa-heart"></i> សម្រាប់សមាជិកប.ស.ស. (IOS)
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/footer/nssf_healt_android.png" alt="thumb">
                                        <span class="overay siemreap" >
                                            <i class="fa fa-heart"></i> សម្រាប់មន្រ្តីប.ស.សនិងមូលដ្ឋានសុខាភិបាល (Android)
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/img/footer/nssf_healt_ios.png" alt="thumb">
                                        <span class="overay siemreap" >
                                            <i class="fa fa-mobile"></i> សម្រាប់មន្រ្តីប.ស.សនិងមូលដ្ឋានសុខាភិបាល (IOS)
                                        </span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <p>2022 © រក្សាសិទ្ធិដោយ៖ បេឡាជាតិសន្ដិសុខសង្គម</p>
                    </div>
                    <div class="col-lg-6 text-right">
                        <p>អភិវឌ្ឍន៍ដោយ ៖ ក្រុមការងារអភិឌ្ឍន៍កម្មវិធី នៃការិយាល័យអភិវឌ្ឍន៍ និងគ្រប់គ្រងកម្មវិធី</p>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </div>
    </footer>