﻿										 
<div class="top-bar-area bg-dark text-light"> 
    <div class="container">
            <div class="topbar-info">
                <div class="row">
                    <div class="top-address col-lg-6">
                        <ul class="font-khmer">
                            <li class="font-khmer" ><i class="icon_phone"></i>(៨៥៥)២៣ ៨៨២ ៤៣៤ និង ​​​​​​​​​​​​​​(៨៥៥)២៣ ៨៨២ ៦២៣</li>
                            @*<li>
                                <a  href="https://mail.nssf.gov.kh/owa" class="s_mail" ><i class="icon_mail"></i></a>
                            </li>*@
                        </ul>
                    </div>
                    <div class="topbar-social col-lg-6">
                        <ul class="text-right">
                            @*<li class="font-khmer" ><i class="icon_phone"></i>(៨៥៥)២៣ ៨៨២ ៤៣៤ និង ​​​​​​​​​​​​​​(៨៥៥)២៣ ៨៨២ ៦២៣</li>*@
                            <li>
                                <a  href="https://mail.nssf.gov.kh/owa" class="s_mail" ><i class="icon_mail"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/622239611180158"><i class="fab fa-facebook-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <!-- Start Navigation -->
        <div class="wrap-sticky" style="height: 90px;">
            <nav class="navbar navbar-default navbar-sticky bootsnav on no-full">
            <div class="container">            
                <!-- Start Header Navigation -->
               <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/"><img src="assets/img/NSSF.png" class="logo" alt="Logo"></a>
                </div>

                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li>
                            <a href="/">ទំព័រដើម</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">អំពី ប.ស.ស</a>
                            <ul class="dropdown-menu animated #">
                                <li><a href="/history">ប្រវត្តិសង្ខេប</a></li>
                                <li><a href="/structure">រចនាសម្ព័ន្ធ</a></li>
                                <li><a href="/Governing">ក្រុមប្រឹក្សាភិបាល</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="#">ផ្នែករបប</a>
    		                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                  <li class="dropdown-submenu dropdown">
                                        <a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">ផ្នែកហានិភ័យការងារ</a>
                                        <ul class="dropdown-menu">
                                          <li><a tabindex="-1" href="/Registration">ការចុះបញ្ជិកា</a></li>
                                          <li><a tabindex="-1" href="#">ការបង់ភាគទាន</a></li>
                                        </ul>
                                  </li>
                                  <li><a href="/health">ផ្នែកថែទាំសុខភាព</a></li>
                                  <li><a href="#">ផ្នែកប្រាក់សោធន</a></li>
                                  <li><a href="#">ផ្នែកនិកម្មភាពការងារ</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="#">ការចុះបញ្ជិកា</a>
    		                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                  <li><a tabindex="-1" href="/Registration">នីតិវិធីចុះបញ្ចិកា</a></li>
                                  <li><a tabindex="-1" href="#">វិស័យសាធារណៈ</a></li>
                                  <li><a tabindex="-1" href="#">វិស័យឯកជន</a></li>
                                  <li><a tabindex="-1" href="#">ស្វ័យនិយោជន៍</a></li>
                                  <li><a tabindex="-1" href="#">នីតិវិធីបង់ភាគទាន</a></li>
                                  <li><a href="/health">ផ្នែកថែទាំសុខភាព</a></li>
                                  <li><a href="#">ផ្នែកប្រាក់សោធន</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ច្បាប់</a>
                            <ul class="dropdown-menu animated">
                                <li><a href="blog.html">ព្រះរាជក្រម</a></li>
                                <li><a href="blog-left-sidebar.html">ព្រះរាជក្រឹត្យ</a></li>
                                <li><a href="single.html">អនុក្រឹត្យ</a></li>
                                <li><a href="single-left-sidebar.html">សេចក្ដីសម្រេចរាជរដ្ឋាភិបាល</a></li>
                                <li><a href="single-left-sidebar.html">ប្រកាសរួម</a></li>
                                <li><a href="single-left-sidebar.html">ប្រកាស</a></li>
                                <li><a href="single-left-sidebar.html">សេចក្តីណែនាំ</a></li>
                                <li><a href="single-left-sidebar.html">សេចក្តីសម្រេច</a></li>
                                <li><a href="single-left-sidebar.html">សេចក្តីជូនដំណឹង</a></li>
                            </ul>
                        </li>  

                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">កិច្ចប្រតិបត្តិការ</a>
                            <ul class="dropdown-menu animated">
                                <li><a href="#">ថ្នាក់ជាតិ</a></li>
                                <li><a href="#">មូលដ្ឋានសុខាភិបាលដៃគូ</a></li>
                                <li><a href="#">ធនាគារដៃគូ</a></li>
                                <li><a href="#">អន្តរជាតិ</a></li>
                                <li><a href="#">សមាគមសន្តិសុខសង្គមជាតិ</a></li>
                                <li><a href="#">សមាគមសន្តិសុខសង្គមអាស៊ាន</a></li>
                                <li><a href="#">ដៃគូអភិវឌ្ឍ</a></li>
                            </ul>
                        </li>  
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">បោះពុម្ភផ្សាយ</a>
                            <ul class="dropdown-menu animated">
                                 <li><a tabindex="-1" href="#">គោលនយោបាយ និងផែនការ</a></li>
                                  <li><a tabindex="-1" href="#">របាយការណ៍លទ្ធផល</a></li>
                                  <li><a tabindex="-1" href="#">ព្រឹត្តិប័ត្រ</a></li>
                                  <li><a tabindex="-1" href="#">វីដេអូ Clip</a></li>
                            </ul>
                        </li>  
                        <li class="dropdown">
                             <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="#">កម្មវិធី</a>
    		                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                              <li class="dropdown-submenu dropdown">
                                <a tabindex="-1" href="#" data-toggle="dropdown" class="dropdown-toggle">កម្មវិធី</a>
                                <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="/program">កម្មវិធីកុំព្យូទ័រ</a></li>
                                  <li><a tabindex="-1" href="#">កម្មវិធីទូរស័ព្ទ.</a></li>
                                </ul>
                                 <li><a href="#">ទម្រង់</a></li>
                                <li><a href="#">តាវកាលិក</a></li>
                                <li><a href="#">បញ្ជិកា និងភាគទាន</a></li>
                         </li> 
                        </ul>
                       </li>
                           @* <li>
                                <a href="contact.html">Contact</a>
                            </li>*@
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>   
         </nav>
        </div>
        <!-- End Navigation -->
    </header>