﻿@inherits LayoutComponentBase
<Header/>
@*<Banner/>*@
@Body   
<Footer/>

 @code{
    [Inject]
    IJSRuntime jSRuntime { get; set; }
    protected async override void OnAfterRender(bool firstRender)
    {
        //await jSRuntime.InvokeAsync<object>("AppInit");
        await jSRuntime.InvokeAsync<object>("NavbarInit");
    }
}

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
